@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply font-sans;
}

body {
  @apply bg-cyan-700;
}

#app {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.sidebar-items li {
  @apply rounded-md;
  @apply m-2;
  @apply p-2;
}

.sidebar-items .normal-item {
  background-image: linear-gradient(#fff, hsl(90, 70%, 80%));
}

.sidebar-items .priority-item {
  background-image: linear-gradient(#fff, hsl(50, 70%, 80%));
}

.editor {
  flex: 1;
  @apply m-2;
  @apply pr-16;
}

.editor h2 {
  @apply text-white;
  @apply text-lg;
  @apply mt-2;
}

.editor textarea {
  display: block;
  width: 100%;
  height: 8em;
  @apply rounded-md;
  @apply mb-2;
  @apply p-2;
  @apply font-mono;
}

.editor button {
  @apply bg-gray-50;
  @apply rounded-md;
  @apply p-2;
}

.right-column {
  width: 300px;
}